@import "_var";
@import "_icon";

// 默认按钮背景色
@btn_bg: #666;

html,body{
	height: 100%;
}
body{
	font-size: 14px;
	background-color: @page_body_bg;
	min-width: 1280px;
}
body, ul, li{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
.btn{
	text-decoration: none;
	color: #fff;
	background-color: @btn_bg;
	padding: .4em 1.2em;
	&:hover{
		background-color: darken(@btn_bg, 10%);
	}
	&:active{
		background-color: darken(@btn_bg, 20%);
	}
}
.page_ct{
	height: 100%;
	display: flex;
	flex-direction: column;
	>.page_top{
		width: 100%;
		height: @page_head_height;
		background: @page_head_bg;
	}
}